body{
    padding: 50px;

}

.container{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: green;
}


.square{
    width: 20px;
    height: 20px;
    background-image: url(../img/pacman.gif);
    background-size: cover;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.block{
    width: 20px;
    height: 20px;
    background-image: url(../img/muretto.jpg);
    background-size: cover;
    position: absolute;
    z-index: 9999;
}

.snack{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(251, 255, 0);
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
}

.point{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;

}

.container-punteggio{
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid red;
    font-size: 20px;
    font-weight: 700;
}

.red{
    margin-block-start: 0;
    margin-block-end: 0;
    color: red;
}